#intro_title {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;

  color: #f1efd7;
  text-shadow: 0 2px 6px #000000, 0px -2px 1px #c4c4c4;
  font-weight: bold;

  text-align: center;

  padding: 30px 20px;
}
