.swiper-pagination-bullets {
  width: 25% !important;
  height: 20px !important;
  line-height: 20px !important;
  left: 50% !important;
  transform: translateX(-50%);
}
.swiper-button-prev {
  width: 50px;
  left: 0;
}
.swiper-button-next {
  width: 50px;
  right: 0;
}
